# Clustering Months

In [47]:
import pandas as pd
import matplotlib.pyplot as plt  
%matplotlib inline
import numpy as np  
import calendar
from sklearn.cluster import KMeans

In [41]:
df = pd.read_csv("APD_Public_Incident_Data__Crime_Locations.csv")

In [42]:
df['dt'] = pd.to_datetime(df['date_occurred'])

In [51]:
in_df = pd.DataFrame(df[['dt','offense_group_short_description']])

In [52]:
in_df.columns = ['dt', 'offense']

In [53]:
def get_month(dt):
    return dt.strftime("%B")

In [56]:
in_df['month'] = in_df['dt'].apply(get_month)

In [76]:
in_df.drop(['dt'], axis=1, inplace=True)

In [86]:
in_df['count'] = 1

In [87]:
in_df.head()

          offense     month  count
0       VANDALISM  February      1
1         ROBBERY       May      1
2  SIMPLE ASSAULT      June      1
3  NON-REPORTABLE  February      1
4  SIMPLE ASSAULT  February      1

In [111]:
gb = in_df.groupby(['month', 'offense']).agg('count')

In [117]:
gb = gb.reset_index()

In [120]:
gb.head(10)

   month                        offense  count
0  April  ADDITIONAL OFFENSE CATEGORIES    303
1  April             AGGRAVATED ASSAULT    132
2  April             ALL OTHER OFFENSES    219
3  April                          ARSON      8
4  April                       BURGLARY    852
5  April              CRIMINAL HOMICIDE      5
6  April             DISORDERLY CONDUCT     81
7  April         DRIVING WHILE IMPAIRED      8
8  April         DRUG/NARCOTIC OFFENSES    406
9  April                   EMBEZZLEMENT     72

In [125]:
piv = gb.pivot(index='month', columns='offense', values='count')

In [127]:
piv

offense,ADDITIONAL OFFENSE CATEGORIES,AGGRAVATED ASSAULT,ALL OTHER OFFENSES,ARSON,BURGLARY,CRIMINAL HOMICIDE,DISORDERLY CONDUCT,DRIVING WHILE IMPAIRED,DRUG/NARCOTIC OFFENSES,EMBEZZLEMENT,...,NON-REPORTABLE,OBSCENE MATERIAL / PORNOGRAPHY,OFFENSES AGAINST FAMILY,PROSTITUTION OFFENSES,ROBBERY,SEX OFFENSES,SIMPLE ASSAULT,STOLEN PROPERTY,VANDALISM,WEAPON LAW VIOLATIONS
month,,,,,,,,,,,,,,,,,,,,,
April,303.0,132.0,219.0,8.0,852.0,5.0,81.0,8.0,406.0,72.0,...,1228.0,2.0,4.0,1.0,203.0,6.0,929.0,14.0,489.0,61.0
August,308.0,110.0,212.0,17.0,924.0,6.0,67.0,NaN,348.0,84.0,...,1164.0,6.0,3.0,2.0,236.0,13.0,1016.0,26.0,475.0,42.0
December,245.0,123.0,180.0,6.0,822.0,3.0,42.0,NaN,331.0,101.0,...,872.0,5.0,3.0,NaN,203.0,3.0,719.0,19.0,296.0,43.0
February,270.0,98.0,193.0,6.0,697.0,4.0,55.0,NaN,385.0,57.0,...,1060.0,4.0,2.0,1.0,147.0,11.0,866.0,22.0,376.0,50.0
January,276.0,139.0,200.0,12.0,811.0,10.0,57.0,NaN,354.0,95.0,...,1165.0,8.0,3.0,1.0,218.0,11.0,903.0,22.0,436.0,43.0
July,294.0,153.0,224.0,20.0,960.0,6.0,70.0,NaN,365.0,85.0,...,1301.0,3.0,10.0,NaN,215.0,10.0,1054.0,33.0,457.0,44.0
June,247.0,140.0,182.0,5.0,827.0,5.0,61.0,NaN,351.0,62.0,...,1194.0,5.0,4.0,1.0,177.0,15.0,985.0,24.0,469.0,41.0
March,287.0,131.0,206.0,7.0,744.0,4.0,70.0,NaN,406.0,71.0,...,1203.0,6.0,6.0,1.0,145.0,15.0,932.0,27.0,466.0,56.0
May,297.0,146.0,229.0,9.0,826.0,4.0,65.0,3.0,415.0,78.0,...,1265.0,5.0,2.0,NaN,202.0,19.0,944.0,26.0,459.0,51.0
November,274.0,124.0,173.0,13.0,873.0,5.0,36.0,NaN,376.0,77.0,...,1008.0,4.0,4.0,NaN,192.0,7.0,839.0,22.0,350.0,53.0
October,293.0,110.0,188.0,13.0,765.0,2.0,48.0,NaN,409.0,95.0,...,1079.0,4.0,1.0,1.0,200.0,8.0,846.0,32.0,389.0,46.0
September,279.0,129.0,161.0,25.0,938.0,6.0,68.0,NaN,372.0,78.0,...,1230.0,5.0,3.0,2.0,221.0,21.0,937.0,30.0,371.0,49.0